.message{
  border: none;
  border-radius: 7px;
  padding: 5px;
  color: #474747;
  background-color: #EBEBEB;
  font-family: Arial, Helvetica, sans-serif;
}
.message-container{
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}